@import './reply.scss';

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: rgba($ReplyOrange, 0.65) radial-gradient(circle, transparent 1%, rgba($ReplyOrange, 0.65) 1%) center/15000%;
}

.ripple:active {
    background-color: rgba($ReplyOrange, 0.5);
    background-size: 100%;
    transition: background 0s;
}

button {
    border: none;
    border-radius: 2px;
    padding: 0.5em 1em;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: $ReplyOrange;

    box-shadow: 0 0 4px #999;
    outline: none;
}

button+button {
    margin-left: 0.5em;
}