@import './reply.scss';

$fsmFill: $ReplyDarkBlue;
$fsmLine: rgba($ReplyOrange, 87%);
$fsmText: rgba($ReplyOrange, 87%);
$fsmCurrent: $ReplyBlue;
$fsmLineWidth: 2px;

		svg {
			width: 100%;
			margin-top: 1em;
		}

		/* state fill */
		.st1 {
			fill: $fsmFill;
		}

		/* state borders */
		.st1,
		.st3 {
			stroke: $fsmLine;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: $fsmLineWidth;
		}

		/* labels */
		.st2 {
			font-size: 0.85em;
			fill: $fsmText;
		}

		/* arrow lines */
		.st5 {
			marker-end: url(#mrkr3-23);
			stroke: $fsmLine;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: $fsmLineWidth;
		}

		/* arrow heads */
		.st6 {
			stroke: $fsmLine;
			stroke-opacity: 1;
			stroke-width: $fsmLineWidth / 5;
		}

		/* start/stop fills */
		.st7 {
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: $fsmLineWidth;
			stroke: $fsmLine;
			fill: $fsmFill;
		}

		.st8 {
			font-size: 12px;
			overflow: visible;
			stroke-linecap: square;
			stroke-miterlimit: $fsmLineWidth;
		}

		.active {
			fill: $fsmCurrent;
        }
